/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html , body{
  height: 100%;
}
.dv-btn, .dv-btn-medium {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dv-btn-xsmall {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.dv-btn-small {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.dv-btn-large {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.dv-btn-block {
    display: block;
    width: 100%;
}

.dv-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.dv-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.dv-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.dv-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.dv-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.dv-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}



.dv-btn:focus {
    outline: none;
}
